# {{ ansible_managed }}
<VirtualHost *:80>

    ServerAdmin webmaster@localhost
    ServerName  _default
    DocumentRoot /var/www/html
    # Deny access to any git repository
    RedirectMatch 404 /\.git

    <FilesMatch \.php$>
        # 2.4.10+ can proxy to unix socket
         SetHandler "proxy:unix:/run/php/php{{ php_version }}-fpm.sock|fcgi://localhost"
    </FilesMatch>

    <Directory /var/www/>
       Options Indexes FollowSymLinks MultiViews
       AllowOverride All
       Require all granted
       Order allow,deny
       Allow from all
    </Directory>
        CustomLog /var/www/logs/mautic_access.log combined
        ErrorLog /var/www/logs/mautic_error.log
</VirtualHost>